<ion-content> 
  <!-- Header -->
  <ion-header>
    <ion-toolbar class="toolbar-custom">
      <ion-title class="toolbar-title">Bienvenido, {{ userName }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Contenedor de las tarjetas -->
  <div class="cards-container">
    <ion-card class="centered-card elevated-card">
      <ion-card-header>
        <ion-img src="assets/login1.png" alt="Pelota"></ion-img>
        <ion-card-title>Pelota</ion-card-title>
        <ion-card-subtitle>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos hic explicabo aliquid, reiciendis iure consequuntur delectus ullam recusandae, earum officiis exercitationem saepe facere eum voluptatum consequatur eligendi. Delectus, hic nostrum!
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card class="centered-card elevated-card">
      <ion-card-header>
        <ion-img src="assets/login1.png" alt="Pelota"></ion-img>
        <ion-card-title>Tenis</ion-card-title>
        <ion-card-subtitle>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos hic explicabo aliquid, reiciendis iure consequuntur delectus ullam recusandae, earum officiis exercitationem saepe facere eum voluptatum consequatur eligendi. Delectus, hic nostrum!
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>

    <ion-card class="centered-card elevated-card">
      <ion-card-header>
        <ion-img src="assets/basque.jpeg" alt="Basketball"></ion-img>
        <ion-card-title>Basketball</ion-card-title>
        <ion-card-subtitle>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos hic explicabo aliquid, reiciendis iure consequuntur delectus ullam recusandae, earum officiis exercitationem saepe facere eum voluptatum consequatur eligendi. Delectus, hic nostrum!
        </ion-card-subtitle>
      </ion-card-header>
    </ion-card>
  </div>

  <!-- Animación de entrada/salida en el lado izquierdo -->
  <div class="animated-image-container" *ngIf="showImage" @fadeInOut>
    <img src="assets/animacio.jpg" alt="Imagen animada" />
  </div>
</ion-content>
