

<ion-content><!--BOdy = ion-content-->
  <ion-content>
        <ion-header [translucent]="true">
    <ion-toolbar class="toolbar-custom">
      <ion-title>Restablecer Contraseña</ion-title>
    </ion-toolbar>
    </ion-header>
  


    <ion-card >
    <ion-card-content class="contrana">

      <div class="center-content">
        <div class="img" >
          <img src="assets/Match.png" alt="Logo" style="align-items: center;">
        </div>
      
      <div class="container">
        <h1>Restablecer Contraseña</h1>
        <p>Introduce tu usuario y te enviaremos un correo electrónico con instrucciones para restablecer tu contraseña.</p>
        <ion-input type="email" placeholder="Introduce tu usuario" [(ngModel)]="userEmail"></ion-input>
        <ion-button expand="block" (click)="resetPassword()">Enviar</ion-button>
      </div>
      </div>
      </ion-card-content>
    </ion-card>
  </ion-content>
</ion-content>
